body {
    margin: 0;
    padding: 0;
}

.main-container {
    background-image: url("../assets/home/home-backgrd.png");
    background-size: 100vw;

}

.header {
    display: flex;
    flex-direction: row;
}

.header img {
    width: 130px;
}

.inner-nav ul {
    display: flex;
    justify-content: center;


}

.inner-nav ul li {
    display: inline;
    list-style: none;

}